.MMM-BackgroundSlideshow .images,
.MMM-BackgroundSlideshow .image,
.MMM-BackgroundSlideshow .transition,
.MMM-BackgroundSlideshow .gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.MMM-BackgroundSlideshow .image {
  background-repeat: no-repeat;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.MMM-BackgroundSlideshow .transition {
  animation-timing-function: ease-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slideFromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slideFromTop {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideFromBottom {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideFromTopLeft {
  0% {
    top: 100%;
    left: -100%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes slideFromTopRight {
  0% {
    top: 100%;
    left: -100%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes slideFromBottomLeft {
  0% {
    top: -100%;
    left: -100%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes slideFromBottomRight {
  0% {
    top: -100%;
    left: -100%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes flipX {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes flipY {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.MMM-BackgroundSlideshow .info {
  display: inline-block;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  position: absolute;
}

@keyframes move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.MMM-BackgroundSlideshow .progress {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.MMM-BackgroundSlideshow .progress-inner {
  height: 100%;
  background-color: white;
}

.MMM-BackgroundSlideshow .infoDivHeader {
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #999;
}

.MMM-BackgroundSlideshow .bottomLeft {
  bottom: 0pt;
  left: 0pt;
  border-width: 1pt 1pt 0 0;
  border-top-right-radius: 20pt;
}

.MMM-BackgroundSlideshow .bottomRight {
  bottom: 0pt;
  right: 0pt;
  border-width: 1pt 0 0 1pt;
  border-top-left-radius: 20pt;
}

.MMM-BackgroundSlideshow .topRight {
  top: 0pt;
  right: 0pt;
  border-width: 0 0 1pt 1pt;
  border-bottom-left-radius: 20pt;
}

.MMM-BackgroundSlideshow .topLeft {
  top: 0pt;
  left: 0pt;
  border-width: 0 1pt 1pt 0;
  border-bottom-right-radius: 20pt;
}

.MMM-BackgroundSlideshow .slideH {
  background-size: cover;
  background-position: left;
  animation-name: slideH;
}

.MMM-BackgroundSlideshow .slideV {
  background-size: cover;
  background-position: top;
  animation-name: slideV;
}

.MMM-BackgroundSlideshow .slideHInv {
  background-size: cover;
  background-position: right;
  animation-name: slideHInv;
}

.MMM-BackgroundSlideshow .slideVInv {
  background-size: cover;
  background-position: bottom;
  animation-name: slideVInv;
}
.MMM-BackgroundSlideshow .zoomIn {
  animation-name: zoomIn;
  transform: scale(1);
}

.MMM-BackgroundSlideshow .zoomOut {
  animation-name: zoomOut;
  transform: scale(1.1);
}

@keyframes slideH {
  to {
    background-position: right;
  }
}

@keyframes slideV {
  to {
    background-position: bottom;
  }
}

@keyframes slideHInv {
  to {
    background-position: left;
  }
}

@keyframes slideVInv {
  to {
    background-position: top;
  }
}

@keyframes zoomIn {
  to {
    transform: scale(1.1);
  }
}

@keyframes zoomOut {
  to {
    transform: scale(1);
  }
}
